html{
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}
.navbar-list li{
    position: relative;
    padding: 0;
}
.navbar-list li a::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--text-nav);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
}
.navbar-list li a:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1);
}
.btn-user{
    transition: all 0.2s ease-out;
}
.btn-user:hover{
    background-color: var(--text-nav);
    color: black;
    transition: all 0.2s ease-in;
}