html{
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}
.navbar-list li{
    position: relative;
    padding: 0;
}
.navbar-list li a::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--text-nav);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
}
.navbar-list li a:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1);
}
.btn-user{
    transition: all 0.2s ease-out;
}
.btn-user:hover{
    background-color: var(--text-nav);
    color: black;
    transition: all 0.2s ease-in;
}
/* animaciones */
@keyframes fade{
    from{opacity: 0;}
    to{opacity: 1;}   
}
@keyframes slide-up {
    from{transform: translateY(100px);}
    to{transform: translateY(0);}
}
@keyframes slide-rigth{
    from{transform: translateX(100px);}
    to{transform: translateX(0);}
}
.hero-info h1{
animation: fade 1s ease-in,slide-up 1.3s ease-out;
}
.hero-info p{
    opacity: 0;
    animation: fade 0.8s ease-in forwards,slide-up 0.9s ease-out;
    animation-delay: 0.2s;
}