@import url('https://fonts.googleapis.com/css2? family= Inter:wght@300;700 & display=swap');

:root {
    /* backgraund */
    --backgraund: #000000;
    --footer-backg: #00030c;

    /* text color */
    --Primary: #F6F6F3;
    --white: #A6A59F;
    --segunday: #1e1e4d;
    --text-nav: #d9d3cf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',
        sans-serif;
}

/* header */
#navlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    background: linear-gradient(#1c1c1c, #686868);
    padding: 0 25px;

}

.nav-info {
    display: flex;
    width: 80%;
    height: 60px;
    justify-content: space-between;
    align-items: center;

}

.nav-info img {
    width: 6%;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    width: 5%;

}

.nav-info a {
    color: #fff;
    font-size: 12px;
    text-align: center;
    outline: none;
    text-decoration: none;
}

.nav-link i {
    font-size: 38px;
}

.nav-info a:hover {
    text-decoration: underline;
}
/* registro */
#registro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #1c1c1c;
    background-size: cover;
    background-position: center;
}

.registro-form {
    width: 750px;
    background: rgba(255, 255, 255, .10);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    color: #fff;
    padding: 40px 35px 35px;
    margin: 55px;
}
.registro-form h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 15tpx;
}
.input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.input-campo{
    position: relative;
    width: 48%;
    height: 50px;
    margin: 13px 0;
}
.input-campo input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2.5px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}
.input-campo input::placeholder{
    color: var(--text-nav);
}
.input-campo i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.registro-form label{
    display: inline-block;
    font-size: 14.5px;
    margin: 10px 0 23px;
}
.registro-form label input{
    accent-color: rgb(116, 118, 119);
    margin-right: 5px;
}
.registro-form .btn{
    width: 100%;
    height: 45px;
    background: rgb(116, 118, 119);
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow:0 0 10px rgba(231, 228, 228, 0.1);
    font-size: 16px;
    font-weight: 600;
    color: var(--text-nav);
}

/* footer */
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--backgraund);
}

.footer-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 65px;
}

.footer-info {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 120px;
    height: 65px;
    width: 90%;
}

.footer-info p {
    color: var(--Primary);
}

.footer-icon {
    width: 20%;
    height: 40px;
    display: flex;
    align-content: center;
    align-items: center;
}

.footer-icon i {
    color: var(--text-nav);
    font-size: 38px;
}
@media (max-width:576px){
    .input-box .input-campo{
        width: 100%;
        margin: 10px 0;
    }
}