@import url('https://fonts.googleapis.com/css2? family= Inter:wght@300;700 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter',
        sans-serif;
  
}
/* login */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(19, 139, 51)
}
.wrapper{
    width: 460px;
    background: rgb(159, 11, 36);
    color: #fff;
    border-radius: 10px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    font-weight: 400;
}
.wrapper .input-box{
    width:80%;
    position: relative;
    height: 50px;
    margin: 30px 50px;
    
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255, 255, .2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
    color: #fff;
}
.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: center;
    font-size: 14.5px;
    margin: -15px 0 15px;
    gap: 40px;
}
.remember-forgot label input{
    accent-color:#fff ;
    margin-right: 3px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.wrapper .btn{
    width: 80%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0 ,0 ,0 , .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin-left: 45px;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}



