@import url('https://fonts.googleapis.com/css2? family= Inter:wght@300;700 & display=swap');

:root {
    /* backgraund */
    --backgraund: #000000;
    --footer-backg: #00030c;

    /* text color */
    --Primary: #F6F6F3;
    --white: #A6A59F;
    --segunday: #1e1e4d;
    --text-nav: #d9d3cf;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter',
    sans-serif;
   
    }
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url(./img/img-login.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

/* header */
header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#navlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    background: linear-gradient(#1c1c1c,#686868); 
    padding: 0 25px;
    
}
.nav-info{
    display: flex;
    width: 80%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    
}
.nav-info img{
    width: 6%;
}
.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    width: 2%;
   
}
.nav-info a{
    color: #fff;
    font-size: 12px;
    text-align: center; 
    outline: none;
    text-decoration: none;  
}
.nav-link i{
    font-size: 38px;
}
.nav-info a:hover{
    text-decoration: underline;
}

/* login */
#login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    height:81vh;
    
} 

.form-login{
    position: relative;
    display: flex;
    width: 360px;
    height: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(85px);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top:45px ; 
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    font-weight: 400;
}
.input-box{
    position: relative;
    margin: 30px 0;
    width:310px;
    border-bottom: 2px solid #fff;    
} 
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 20px;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none; 
    font-size: 20px;
    padding: 0 35px 0 5px;
    color: #fff;
}
.input-box i{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 20px;
    top: 20px;
}
.remember-forget{
    display: flex;
    justify-content: center;
    font-size: 14.5px;
    margin: -15px 0 15px;
    gap: 40px;
}
.remember-forget label input{
    accent-color:#fff ;
    margin-right: 3px;
}
.remember-forget a{
    color: #fff;
    text-decoration: none;
}
.remember-forget a:hover {
    text-decoration: underline;
}
.btn-login{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0 ,0 ,0 , .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
  
}
.register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 10px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}
/* footer */
footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--backgraund);
    margin-top: 40px;
}

.footer-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 65px;
}

.footer-info {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 120px;
    height: 65px;
    width: 90%;
}

.footer-info p {
    color: var(--Primary);
}

.footer-icon {
    width: 20%;
    height: 40px;
    display: flex;
    align-content: center;
    align-items: center;
}

.footer-icon i {
    color: var(--text-nav);
    font-size: 38px;
}


