@import url('https://fonts.googleapis.com/css2? family= Inter:wght@300;700 & display=swap');
:root{
    /* backgraund */
    --backgraund: #000000;
    --footer-backg:#00030c;

    /* text color */
    --Primary:#F6F6F3;
    --white: #A6A59F;
    --segunday:#1e1e4d;
    --text-nav:#d9d3cf;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter',
        sans-serif;
    text-decoration: none;
    list-style: none;
    border: solid 1px red;
    }
   
    /* header */

header{
    width: 100%;
    display: flex;
    justify-content:start;
    align-items: center;
    position: fixed;
    background-color: var(--backgraund);
    padding: 0 30px;

}
.logo{
    height: 80px;

}
.navbar,
.navbar-list{
    display: flex;
    width:98% ;
    justify-content:flex-start;
    align-items: center;
    gap:40px;
    padding: 0 60px;
    height: 65px;
    
    }
.navbar a{
    color: var(--text-nav);
    font-size: 15px;
}



.usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--Primary) 1px;
    padding: 6px; 
    border-radius: 3px; 
}
.usuario img{
    height: 18px;
    padding: 0px 8px;
}

/* main */
 main{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    background-color: var(--backgraund);
    /* flex-direction: column; */

 }
 #hero{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 65px;
    width: 100%;


 }
 .hero-card{
    display: flex;
    justify-content: center;
    padding-left: 45px;
    width: 40%;

 }
 .hero-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .hero-info h1{
    color: var(--Primary);
    font-size: 70px;
    text-align: center;
    font-weight: 400;
    max-width: 600px;
 }
 .hero-info p{
    color: var(--white);
    font-size: 32px;
    text-align: center;
    max-width: 500px;
    margin-top: 30px;
    font-weight: 400;
 }

 /* about */
#beneficios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 70px 0;
    background-color: #1e1e4d;
}
.about-card-conteiner{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 60%;
    margin-top: 50px;
    flex-direction: column;
}

.about-card img{
    width: 20px;
}    