@import url('https://fonts.googleapis.com/css2? family= Inter:wght@300;700 & display=swap');
:root{
    /* backgraund */
    --backgraund: #000000;
    --footer-backg:#00030c;

    /* text color */
    --Primary:#F6F6F3;
    --white: #A6A59F;
    --segunday:#1e1e4d;
    --text-nav:#d9d3cf;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter',
        sans-serif;
    text-decoration: none;
    list-style: none;
    /* border: solid 1px red; */
    }
   
    /* header */

header{
    width: 100%;
    display: flex;
    justify-content:start;
    align-items: center;
    position: fixed;
    background-color: var(--backgraund);
    padding: 0 30px;

}
.logo{
    height: 80px;

}
.navbar,
.navbar-list{
    display: flex;
    width:100% ;
    justify-content:flex-start;
    align-items: center;
    gap:40px;
    padding: 0 60px;
    height: 65px;
    
    }
.navbar a{
    color: var(--text-nav);
    font-size: 15px;
}



.usuario{
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: center;
    
}
.usuario a{
   font-size: 16px;
   padding: 12px;
}
.usuario i{
    font-size: 20px;
    margin-right: 5px;
}
.usuario:last-child{
    border: 2px solid rgb(70, 69, 69);
    border-radius: 20px;

}
main{
    background-color: #000000;
}

 #hero{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    padding: 0 70px;
    


 }
 .hero-card{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    width: 53%;
    margin-top: 85px;
    
    

 }
 .hero-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .hero-info h1{
    color: var(--Primary);
    font-size: 70px;
    text-align: center;
    font-weight: 400;
    max-width: 600px;
 }
 .hero-info p{
    color: var(--white);
    font-size: 32px;
    text-align: center;
    max-width: 500px;
    margin: 25px 30px;
    font-weight: 400;

 }

 /* about */
#beneficios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 70px 0;
    background-color:var(--backgraund);
}
#beneficios h2{
    color: var(--white);
    font-size: 42px;
    font-weight: 400;
    text-align: center;    
}
.about-card-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    gap: 80px;
}
.about-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 0 30px;
    text-align: center;
    background-color: #F6F6F3;
    width: 352px;
    height: 520px;
}
.about-card h3{
    color: var(--segunday);
    font-size: 30px;
    padding: 20px;
    font-weight: 400 ;
    max-width: 300px
}
.about-card p{
    font-size: 23px;
    text-align: center;
}
.about-card img{
    width:80%;
}    
.pago{
    display: flex;
    width: 45%;
    gap: 25px;
    align-items: center;
    justify-content: center;   
}
#discover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 70px 0;
    background-color: var(--backgraund);
}
#discover h2{
    font-size: 44px;
    font-weight: 200;
    background:linear-gradient(#f8dc28,#ffff);
    color: transparent; 
    -webkit-background-clip: text;
      
}
.discover-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}
.discover-card{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    background-color: var(--Primary);
    width: 100%;
    height: 150px;
    padding: 15px 35px 20px;
    text-align: center;
}
.discover-card img{
    width: 45%;
}
#info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 70px 0;
    background-color: var(--footer-backg);
}
.info-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15px 35px 20px;
    text-align: center;
    }
.info-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 240px;
}
.info-card img{
    width: 100%;
}
.info-icon{
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    margin-bottom: 55px;
}
.info-card h3{
    color: #a38e03;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 25px;
    padding: 0 25px 0 0;
}
.info-card p{
color: var(--text-nav);
text-align: left;
max-width: 180px;
font-size: 21px;
}
.info-list{
    color: var(--text-nav);
    text-align: left;
}
/* footer */
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--backgraund);    
}
.footer-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 65px;
}
.footer-info{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 120px;
    height:65px;
    width: 90%;
}
.footer-info p{
    color: var(--Primary);
}
.footer-icon{
    width: 20%;
    height: 40px;
    display: flex;
    align-content: center;
    align-items: center;
}
.footer-icon i{
    color: var(--text-nav);
    font-size: 38px;
 
}






