@import url('https://fonts.googleapis.com/css2? family= Inter:wght@300;700 & display=swap');
:root{
    /* backgraund */
    --backgraund: #000000;
    --footer-backg:#00030c;

    /* text color */
    --Primary:#F6F6F3;
    --white: #A6A59F;
    --segunday:#1e1e4d;
    --text-nav:#d9d3cf;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter',
        sans-serif;
    text-decoration: none;
    list-style: none;
    /* border: solid 1px red; */
    }
body{
    display: flex;
    flex-direction: column;
} 

    /* header */

header{
    width: 100%;
    display: flex;
    justify-content:start;
    align-items: center;
    position: fixed;
    background-color:#151515;
    padding: 0 30px;
    height: 65px;
    z-index: 2;

}
#menu-toggle,
#login-toggle,
.menu-label,
.menu-login{
    display: none;
    color: #F6F6F3;
}
.usuario img{
    height: 40px;
    padding: 6px;
    border: 2px solid var(--white);
    border-radius: 50px;
}

.logo{
    height: 60px;

}
.navbar,
.navbar-list{
    display: flex;
    width:100% ;
    justify-content:flex-start;
    align-items: center;
    gap:40px;
    padding: 0 60px;
    height: 60px;
    
    }
.navbar a{
    color: var(--text-nav);
    font-size: 18px;
}
.usuario,
.usuario-list{
    display: flex;
    gap: 45px;
    width: 100%;
    color: var(--text-nav);
    justify-content: center;
    align-items: center;
}
.btn-user{
    display: flex;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    background-color: transparent;
    color: var(--text-nav);

}
main{
    background-color: #000000;
}
 #hero{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    padding: 0 40px;
 }
 .hero-card{
    display: flex;
    justify-content: center;
    padding: 8px;
    width: 45%;
    margin-top: 65px;
   
 }
 .hero-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .hero-info h1{
    color: var(--Primary);
    font-size: 70px;
    text-align: center;
    font-weight: 400;
    max-width: 600px;
 }
 .hero-info p{
    color: var(--white);
    font-size: 32px;
    text-align: center;
    max-width: 500px;
    margin: 25px 30px;
    font-weight: 400;

 }
 /* about */
#beneficios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 70px 0;
    background-color:var(--backgraund);
}
#beneficios h2{
    color: var(--white);
    font-size: 42px;
    font-weight: 400;
    text-align: center;    
}
.about-card-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    gap: 80px;
}
.about-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 0 30px;
    text-align: center;
    background-color: #F6F6F3;
    width: 352px;
    height: 520px;
}
.about-card h3{
    color: var(--segunday);
    font-size: 30px;
    padding: 20px;
    font-weight: 400 ;
    max-width: 300px
}
.about-card p{
    font-size: 23px;
    text-align: center;
}
.about-card img{
    width:80%;
}    
.pago{
    display: flex;
    width: 45%;
    gap: 25px;
    align-items: center;
    justify-content: center;   
}
#discover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 70px 0;
    background-color: var(--backgraund);
}
#discover h2{
    font-size: 44px;
    font-weight: 200;
    background:linear-gradient(#f8dc28,#ffff);
    color: transparent; 
    background-clip: text;
    -webkit-background-clip: text;
      
}
.discover-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}
.discover-card{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    background-color: var(--Primary);
    width: 100%;
    height: 220px;
    padding: 15px 35px 20px;
    text-align: center;
}
.discover-card img{
    width: 25%;
}
.discover-card p{
    font-size: 28px;
}
#info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 70px 0;
    background-color: var(--footer-backg);
}
.info-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15px 10px;
    text-align: center;
    }
.info-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.info-card img{
    width: 295px;
}
.info-card i{
    font-size: 40px;
    color: var(--white);
}
.info-icon{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 55px;
}

.info-card h3{
    color: #a38e03;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 14px;
    padding: 0 25px 0 0;
}
.info-card p{
color: var(--text-nav);
max-width: 180px;
font-size: 20px;
}
.info-list{
    color: var(--text-nav);
    text-align: left;
}
/* footer */
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--backgraund); 
}
.footer-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 55px;
}
.footer-info{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 120px;
    height:50px;
    width: 90%;
}
.footer-info p{
    color: var(--Primary);
}
.footer-icon{
    width: 20%;
    height: 40px;
    display: flex;
    align-content: center;
    align-items: center;
}
.footer-icon i{
    color: var(--text-nav);
    font-size: 38px;
}
footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
/* mediaqueries */
@media (max-width:992px){

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 10px;
}
.usuario span{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.usuario-list{
    position: absolute;
    top: 65px;
    left: 5%;
    right: 5%;
    width: 90%;
    background:linear-gradient(#141414, #080808, #141414);
    border: 2px solid;
    border-top: 0px;
    border-radius: 0 0 8px 8px;
    height: 30px;
    gap: 35px;
    padding: 45px 20px;
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: none;
}
.usuario-list a{
    font-size:14px;
}
.menu-login{
    display: flex;
    order:2;   
}
#login-toggle:checked + .usuario-list{
    display: flex;
}
.navbar-list
{
    position: absolute;
    top: 65px;
    left: 74%;
    right: 5%;
    width: 25%;
    flex-direction: column;
    background:linear-gradient(#141414,#080808,#141414);
    border: 2px solid;
    border-top: 0px;
    border-radius:0 0 8px 8px;
    height: 250px;
    gap: 25px;
    padding: 45px 30px;
    align-items: center;
    z-index: 3;
    display: none;
}
.navbar-list a{
    font-size: 24px
}
.menu-label{
    display: flex;
    order: 2;
    color: #A6A59F;
    font-size: 65px;
}
#menu-toggle:checked + .navbar-list{
    display: flex;
}
#hero{
  margin-top:85px;
  display: flex;
}
.hero-card{
    width: 48%;
    padding: 0 20px;
    
}
.hero-info h1{
    margin-top: 45px;
    font-size: 60px;
    text-align: center;
}
.hero-info p{
    font-size: 22px;
    text-align: center;
}
.about-card-conteiner{
    display: flex;
    flex-direction: column;

}
.about-card{
    width: 520px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about-card img{
    width: 45%;
}
.about-card p{
    max-width: 200px;
}
.about-card h3{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    max-width: 180px;
}
.discover-conteiner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.discover-card{
    width: 40%;
    border-radius: 20px;
    
}
.discover-card img{
    width: 48%;
}
.discover-card p{
    font-size: 22px;
}
.info-conteiner{
    width: 100%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
.info-card{
    width: 42%;
}
.info-card p{
    font-size: 28px;
}
.footer-info{
    width: 100%;
    gap: 40px;
}
.footer-info p{
    font-size: 14px;
}
}
@media(max-width:526px){
.navbar-list{
    width:36%;
    left:63%;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 0 0 8px 8px;
    background:linear-gradient(#0f1010e9,#191918,#000000e3);
}
.navbar-list a{
    font-size: 22px;
}
.usuario-list{
    width: 100%;
    left: 0;
    border: none;
    height: 100vh;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background:linear-gradient(#0f1010e9,#191918,#000000e3); ;
}
.usuario-list a{
    font-size: 34px;
}
.usuario-list i{
    font-size: 34px;
}
.about-card-conteiner{
    display: flex;
    flex-direction: column;
}
.about-card{
    width: 280px;
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#hero{
    display: flex;
    flex-direction: column;
}
.footer-icon i{
    font-size: 24px;
}
.hero-card{
    width: 100%;
}
.pago{
    width: 85%;
}
#discover h2{
    font-size: 28px;
    text-align: center;
}
.discover-card p{
    font-size: 12px;
}
.discover-card img{
    width: 100%;
}
.info-card p{
    font-size: 16px;
}
.footer-info p{
    font-size: 10px;
}
}




