@import url('https://fonts.googleapis.com/css2? family= Inter:wght@300;700 & display=swap');
:root{
    /* backgraund */
    --backgraund: #000000;
    --footer-backg:#00030c;

    /* text color */
    --Primary:#F6F6F3;
    --white: #A6A59F;
    --segunday:#1e1e4d;
    --text-nav:#d9d3cf;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter',
        sans-serif;
    text-decoration: none;
    list-style: none;
    border: solid 1px red;
    }

header{
    width: 100%;
    display: flex;
    justify-content:start;
    align-items: center;
    height: 85px;
    /* padding: 0px 30p; */
    position: fixed;
    background-color: var(--backgraund);

}
.logo{
    height: 80px;
    padding:15px;
    /* padding-left: 50px;  */
}
.navbar,
.navbar-list{
    display: flex;
    width:100% ;
    justify-content:flex-start;
    align-items: center;
    gap:40px;
    padding: 45px;
    
    }
.navbar a{
    color: var(--text-nav);
    font-size: 15px;
}



.usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--Primary) 1px;
    padding: 4px; 
    border-radius: 3px; 
}
.usuario img{
    height: 18px;
    padding: 0px 8px;

}
 main{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    background-color: var(--backgraund);

 }
 .hero{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 90px;


 }
 .hero-card{
    display: flex;
    justify-content: center;
    padding-left: 45px;
    width: 40%;

 }
 .hero-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .hero-info h1{
    color: var(--Primary);
    font-size: 70px;
    text-align: center;
    font-weight: 400;
    max-width: 600px;
 }
 .hero-info p{
    color: var(--white);
    font-size: 32px;
    text-align: center;
    max-width: 500px;
    margin-top: 30px;
    font-weight: 400;
 }
    